In [3]:
import mysql.connector #ALL COMMAND HERE WHEN USING MYSQL ON PYTHON MUST BE IN UPPER CAS

In [4]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '#Latunji1990#'
)
mycursor = mydb.cursor()
mycursor.execute ('SHOW DATABASES')
for x in mycursor:
    print (x)

('earlycodestore',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [6]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '#Latunji1990#',
    database = 'earlycodestore'
)
mycursor = mydb.cursor()
mycursor.execute ('SHOW TABLES')
for x in mycursor:
    print (x)

('bodyperformance',)
('clothing_tables',)
('clothings',)
('dairyproducts',)
('furnitures',)
('groupa_records',)
('groupb_records',)
('groupc_records',)
('groupd_records',)
('groupe_records',)
('phones',)
('studentsperformance',)

In [7]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '#Latunji1990#',
    database = 'earlycodestore'
)
mycursor = mydb.cursor()
mycursor.execute ('SELECT COUNT(gender)FROM studentsperformance WHERE gender = "male"') 
for x in mycursor:
    print (x) #TO COUNT

(482,)

In [9]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '#Latunji1990#',
    database = 'earlycodestore'
)
mycursor = mydb.cursor()
mycursor.execute ('SELECT COUNT(*) FROM studentsperformance WHERE mathscore >= 75')
for x in mycursor:
    print (x)

(295,)

In [10]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '#Latunji1990#',
    database = 'earlycodestore'
)
mycursor = mydb.cursor()
mycursor.execute ('SELECT COUNT(DISTINCT mathscore) FROM studentsperformance')
for x in mycursor:
    print (x)

(81,)

In [11]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '#Latunji1990#',
    database = 'earlycodestore'
)
mycursor = mydb.cursor()
mycursor.execute ('SELECT SUM(mathscore) AS "RESULT" FROM studentsperformance')# TO SUM
for x in mycursor:
    print (x)

(Decimal('66089'),)

In [12]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '#Latunji1990#',
    database = 'earlycodestore'
)
mycursor = mydb.cursor()
mycursor.execute ('SELECT SUM(mathscore) AS "RESULT" FROM studentsperformance WHERE raceethnicity = "group C"')
for x in mycursor:
    print (x)

(Decimal('20564'),)

In [13]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '#Latunji1990#',
    database = 'earlycodestore'
)
mycursor = mydb.cursor()
mycursor.execute ('SELECT MAX(mathscore) AS "RESULT" FROM studentsperformance WHERE raceethnicity = "group C"') #TO GET MAXIMUM SCORE
for x in mycursor:
    print (x)

(98,)

In [14]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '#Latunji1990#',
    database = 'earlycodestore'
)
mycursor = mydb.cursor()
mycursor.execute ('SELECT MIN(mathscore) AS "RESULT" FROM studentsperformance WHERE raceethnicity = "group C"') #TO GET MIN SCORE
for x in mycursor:
    print (x)

(0,)

In [15]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '#Latunji1990#',
    database = 'earlycodestore'
)
mycursor = mydb.cursor()
mycursor.execute ('SELECT AVG(mathscore) AS "RESULT" FROM studentsperformance WHERE raceethnicity = "group C"') #TO GET AVERAGE
for x in mycursor:
    print (x)

(Decimal('64.4639'),)

In [17]:
mycursor = mydb.cursor()
mycursor.execute ('SELECT readingscore FROM studentsperformance LIMIT 3') 
for x in mycursor:
    print (x)

(72,)
(90,)
(95,)

In [17]:
mycursor = mydb.cursor()
mycursor.execute ('SELECT *FROM studentsperformance LIMIT 3') #TO GET AVERAGE
for x in mycursor:
    print (x)

(1, 'female', 'group B', "bachelor's degree", 'standard', 'none', 72, 72, 74)
(2, 'female', 'group C', "bachelor's degree", 'standard', 'none', 65, 72, 74)
(3, 'male', 'group C', "bachelor's degree", 'standard', 'none', 69, 63, 61)

In [8]:
mycursor = mydb.cursor()
mycursor.execute ('ALTER TABLE studentsperformance ADD COLUMN ID INT PRIMARY KEY NOT NULL AUTO_INCREMENT FIRST') 
mydb.commit() # when you makr changes you must commit by using the command .commit  it so it can effect the changes

ProgrammingError: 1060 (42S21): Duplicate column name 'ID'

In [18]:
mycursor = mydb.cursor()
mycursor.execute ('SELECT *FROM studentsperformance ORDER BY ID DESC LIMIT 3') #TO GET AVERAGE
for x in mycursor:
    print (x)

(1000, 'male', 'group B', "associate's degree", 'standard', 'none', 81, 73, 72)
(999, 'male', 'group B', 'high school', 'standard', 'none', 47, 46, 42)
(998, 'male', 'group C', 'high school', 'standard', 'completed', 86, 81, 80)