In [1]:
num1 = int(12.5)
print(num1)

12

In [2]:
print(str(num1))

12

In [3]:
name ='85'
print(float(name))

85.0

In [4]:
name = input('Please provide your name')

Please provide your nameolatunji

In [5]:
age = int(input('Please Provide your age:'))

Please Provide your age:45

# Arithimetic Operators

In [6]:
# +, -, /, *, %, //, **

In [17]:
num1 = 40
num2 = 20
print(f'{num1} + {num2} = {num1 + num2}')
print(f'{num1} - {num2} = {num1 - num2}')
print(f'{num1} / {num2} = {num1 / num2}')
print(f'{num1} * {num2} = {num1 * num2}')
print(f'{num1} % {num2} = {num1 % num2}')
print(f'{num1} // {num2} = {num1 // num2}')
print(f'{num1} ** {num2} = {num1 ** num2}')

40 + 20 = 60
40 - 20 = 20
40 / 20 = 2.0
40 * 20 = 800
40 % 20 = 0
40 // 20 = 2
40 ** 20 = 109951162777600000000000000000000

# Comparisim Operator

In [8]:
# >, <, >=,<=, == , !=

In [16]:
print(num1 > num2)
print(num1 >= num2)
print(num1 < num2)
print(num1 <= num2)
print(num1 == num2)
print(num1 != num2)

True
True
False
False
False
True

# Logical Operrators

In [10]:
# and, or , not

In [11]:
print(num1 != num2 and num2 < num1)
print(num1 != num2 or num2 > num1)
print(not num1)

True
True
False

# Identity Operators

In [12]:
# is, is not

In [13]:
print(num1 is num2)
print(num1 is not num2)

False
True

# Membership Operators

In [14]:
#in, not in
word = 'python'
print('p' in word)
print('P' not in word)

True
True

# Ade bought 50 pen at a cost of 50naira per pen if he sold a pen at the rate of 100 write a program to calculate ade's profit

In [15]:
pen = 50
cost1 = 50
cp =  pen * cost1
sprate = 100
sp = pen * sprate
profit = sp - cp
print(f'The profit Ade made on 50 pen selling at the rate of 100 per pen is {profit}')

The profit Ade made on 50 pen selling at the rate of 100 per pen is 2500